* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
htmi,
body {
  height: 100%;
  width: 100%;
  background-color: #171c2b;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.game {
  width: 25rem;
  display: grid;
  grid-template-columns: 7rem 7rem 7rem;
  grid-template-rows: 7rem 7rem 7rem;
  gap: 1.5rem;
  margin-top: 5rem;
}
h1 {
  text-align: center;
  color: aquamarine;
  margin-top: 3rem;
  font-size: 3rem;
}

.win {
  text-align: center;
  color: aquamarine;
  margin-top: 25rem;
  font-size: 3rem;
}
.hidden {
  display: none;
}
.con {
  display: none;
}

.box {
  height: 7rem;
  width: 7rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgb(3, 196, 196);
  border: none;
  background-color: rgb(34, 33, 33);
  font-size: 3rem;
  cursor: pointer;
}

.btns {
  width: 28rem;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btns button {
  padding: 15px;
  border-radius: 10px;
  background-color: aqua;
  box-shadow: 0px 0px 10px rgb(3, 196, 196);
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: none;
  outline: none;
}

.btns button:hover {
  background-color: rgb(5, 209, 209);
}

@media(max-width:478px){
    h1 {
    text-align: center;
    color: aquamarine;
    margin-top: 3rem;
    font-size: 2rem;
  }


  .box {
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgb(3, 196, 196);
  border: none;
  background-color: rgb(34, 33, 33);
  font-size: 2rem;
  cursor: pointer;
}



.game {
  width:20rem;
  display: grid;
  grid-template-columns: 7rem 7rem 7rem;
  grid-template-rows: 7rem 7rem 7rem;
  gap: 1rem;
  margin-top: 5rem;
}

.btns {
  width: 28rem;
  margin-top: 5rem;
  display: grid;
  row-gap: 2rem;
  margin-left: 300px;
}

}